img {
  width: auto;
  height: auto;
  object-fit: cover;
}
.card-body{
  background: var(--bg-color);
  color: var(--text-color);
}

.card{
  border: 1px solid var(--bg-color);
}

/* .btn {
  padding: 8px 16px !important;
} */

.btn {
  position: relative;
  z-index: 10;        /* make sure it's above other stuff */
  display: inline-block;
  padding: 8px 16px;
  line-height: normal;
  cursor: pointer;
}